/*
Правила - на вскидку
для стиля используем в основном классы, если у элемента есть айди используем его, но такие элементы используются в коде поэтому свои айди не пиши
классы называем camel_case ом
называй через переводчик если не знаешь слово
не используем px в размерах элементов в шрифте используем vh
border-radius 30px
цвета записывем в root
используй flex
для всех элементов с display: flex прописанно центрирование
если нужно написать что-то для всех тэгов - например убрать стандартный стиль - делай это в начале файла
элементы идут в таком порядке в каком они в html
используй вложенность
.class {
  ...
  button {

  }
  .container {

  }
}

.class button a {

  span {

  }
}

используй мета классы :hover после стиля стандартного элемента
стили - флаги которые меняются в js надо оставить в конце файла 
никакого auto
margin и padding используй с уточнением -top -bottom -right -left если можно без них - делай без них через justify-content:space-between
*/

:root {
  --main-background: #C9C9C9;
  --main-red: #C82525;
  --main-white: #f4f4f4;
  --main-green: #6FCB68;
  --border-gray: #ccc;
  --secondary-gray: #E7E5E5;
  --text: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: var(--main-white);
  align-items: center;
  justify-content: center;
}
/* тут можно убрать стандартные стили */
h1, h2, h3, h4 {
  text-align: center;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}

.file_item .analysis:hover, .delete:hover, .navigation button:hover, .controls button:hover, .controls label:hover {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.window_unactive {
  transform: translateY(-100vh);
  transition: all 2s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-white);
  overflow: hidden;
}

.start_window {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #C82525;
}

.start_window .column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  h1 {
    font-size: 8vh;
    font-weight: 700;
    margin-bottom: 5vh;
  }
  h2 {
    font-size: 5vh;
    display: block;
    text-wrap: nowrap;
  }
}

.column:nth-child(2) {
  justify-content: flex-end;
  footer {
    align-self: center;
    width: 100vw;
    height: 5%;
    background-color: var(--main-white);
  }
}

.column:nth-child(3) {
  padding-right: 5vw;
  align-items: flex-end;
}

.start {
  background-color: var(--main-white);
  color: #C82525;
  font-size: 10vh;
  width: 90%;
  height: 15%;
  border-radius: 30px;
  align-self: center;
  margin-bottom: 10vh;
}

.start:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.bubbles {
  width: 100%;
  margin-top: 5%;
}

body header {
  background-color: var(--main-red);
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  h1 {
    font-size: 5vh;
    margin-right: 5vw;
  }
}

main {
  width: 100vw;
  height: 92vh;
  flex-direction: column;
  justify-content: flex-start;
}

main .files {
  margin-top: 5vh;
  width: 75%;
  height: 80%;
  background-color: var(--secondary-gray);
  border-radius: 30px;
  overflow: hidden;
  * {
    color: var(--text)
  }
  .title {
    width:100%;
    height: 6vh;
    text-align:left;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 2vw;
    border-bottom: var(--text) solid 1px;
  }
  .scroller {
    width: 100%;
    height: 92%;
    overflow-y: scroll;
  }
}

.title input {
  height: 70%;
  width: 20%;
  padding-left: 12px;
  outline: none;
  border: 0;
  background-color: var(--main-white);
  border-radius: 30px;
}

.scroller .file_item{
  width:100%;
  height: 6vh;
  padding-right: 6vw;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  border-bottom: var(--border-gray) solid 1px;
  a {
    width: 40%;
    height: 80%;
  }
  div {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-between;
  }
}

.delete {
  width: 40%;
  height: 80%;
  border-radius: 30px;
  border: var(--main-red) solid 1px;
}

.analysis {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: var(--main-red) solid 1px;
}

.file_item a:hover {
  color: rgba(66, 78, 92, 1);
}

.file_item a:active {
  color: #C82525;
}


.scroller::-webkit-scrollbar {
  width: 0px;
}

.scroller::-webkit-scrollbar-track {
  background: var(--main-white);
}

.scroller::-webkit-scrollbar-thumb {
  background-color: var(--main-red); 
  border-radius: 20px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  margin-top: 2vh;
  width: 75%;
  button {
    width: 16vw;
    height: 6vh;
    font-size: 3vh;
    border-radius: 30px;
    background-color: var(--main-red);
  }
}




#add .container {
  margin-top: 5vh;
  width: 75%;
  height: 80%;
  background-color: var(--secondary-gray);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  * {
    color: var(--text)
  }
}

#add .container .scroller {
  width: 35%;
  height: 92%;
  overflow-y: scroll;
  background-color: var(--border-gray);
  border-radius: 30px;
  .title {
    background-color: var(--border-gray);
    position: sticky;
    top: 0;
    font-size: 2.5vh;
  }
  .title, .list_item {
    width:100%;
    height: 6vh;
    padding-right: 6vw;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    border-bottom: var(--text) solid 1px;
  }
}

#add .container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 92%;
  .upload_zone { 
    display: flex;
    width: 100%;
    height: 80%;
    border: 2px dashed var(--text);
    background-color: var(--main-background);
    border-radius: 30px;
    #hint {
      font-size: 3vh;
    }
  }
  #file_input {
    display: none;
  }
}

#add .container form .controls {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  width: 100%;
  button, label {
    display: flex;
    width: 16vw;
    height: 6vh;
    font-size: 3vh;
    border-radius: 30px;
    color: var(--main-white);
    background-color: var(--main-red);
  }
  button {
    background-color: var(--main-green);
  }
}

#add .navigation {
  justify-content: flex-end;
}

/* оставить в конце */
.active_block {
  display: flex;
}

.unactive_block {
  display: none;
}