:root {
    --main-red: #C82525;
    --main-white: #f4f4f4;
    --border-gray: #ccc;
    --secondary-gray: #E7E5E5;
    --text: #000;
    --input_text: #C9C9C9;
    --white_text: #FFFFFF;
    --green_button: #6FCB68;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: var(--main-white);
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4 {
    text-align: center;
}

button {
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

header {
    color:var(--main-white);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-white);
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--main-white);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-red); 
    width: 12px;
}

header {
    background-color: var(--main-red);
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    h1 {
        font-size: 5vh;
        margin-right: 5vw;
    }
}

.container {
    border-radius: 5vh;
    margin-top: 14vh;
    background-color:  var(--secondary-gray);
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h3 {
        color: var(--text);
        font-size: 4rem;
        margin-bottom: 1.5rem;
        padding-top: 0.5rem;
    }
}


form {
    display: flex;
    flex-direction: column;
    width: 90%;
    input {
        width: 46vh;
        height: 6.5vh;
        border-radius: 2rem;
        font-size: 1.6rem;
        color: var(--text);
        margin-top: 2vh;
        padding-left: 15px;
    }

    input::placeholder {
        color: var(--input_text);
        font-size: 1.4rem;
    }
}

.buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    button {
        width: 45%;
        height: 7vh;
        font-size: 1.6rem;
        color: var(--white_text);
        background-color: var(--green_button);
        border-radius: 30px;
    }

    .enter {
        width: fit-content;
        height: 7vh;
        padding: 5px;
        color: var(--white_text);
        font-size: 1.6rem;
        text-wrap: nowrap;
        background-color: var(--main-red);
        border-radius: 30px;
        display: flex;
    }
}